#suggestions {
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    height: auto;
    position: absolute;
    top: 270px;
    left: 369px;
    z-index: 9999;
    width: 220px;
}
 
#suggestions .suggest-element {
    background-color: #EEEEEE;
    border-top: 1px solid #d6d4d4;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    float: left;
}

#suggestions .suggest-element:hover{
    background-color: rgba(128, 128, 128, 1);
}